<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>COMPANY POLICY ACKNOWLEDGEMENT LETTER</title>
    <link rel="stylesheet" href="style.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/7.0.1/css/all.min.css">
</head>

<body>
    <div class="main-container">
        <!-- header start here -->
        <header>
            <div class="header-section">
                <div class="logo">
                    <img src="MIND MANTHAN LOGO2.svg 2 .svg" alt="mind manthan logo">
                </div>
                <div>
                    <h1>Mindmanthan Software Solutions</h1>
                </div>
            </div>
            <h3 class="Promo"><u>COMPANY POLICY ACKNOWLEDGEMENT LETTER</u></h3>
        </header>
        <!-- header close here -->
        <section>

            <div class="emp-info">
                <div>
                    <p>Date: _ / _ / __</p>
                    <p>Employee Name: __________</p>
                    <p>Employee ID: __________</p>
                </div>
                <div>
                    <p>Designation: __________</p>
                    <p>Department: __________</p>
                </div>
            </div>
            <p><strong>Dear Mr./Ms. __________,</strong> hereby acknowledge that I have received, read, understood, and agree to comply with all the Company Policies, Rules, and Guidelines of MindManthan Software Solutions, including but not limited to:</p>
            <ul>
                <li>Code of Conduct & Professional Ethics</li>
                <li>Leave & Holiday Policy</li>
                <li>IT Usage & Data Security Policy</li>
                <li>Confidentiality & NDA Obligations</li>
                <li>Internal Tool Usage & Access Policy</li>
                <li>Disciplinary & Misconduct Policy</li>
                <li>Workplace Behavior & Anti-Harassment Policy</li>
            </ul>
            <p>I understand that these policies are designed to ensure a professional, secure, and productive working environment. I agree to abide by all current and future policies issued by the Company from time to time.</p>
            <p>I also understand that violation of company policies may result in disciplinary action, including warning, suspension, termination of employment, or legal action, as deemed appropriate by the management.</p>
            <p>This acknowledgement shall remain valid throughout my employment with <strong>MindManthan Software Solutions</strong> .</p>
        </section>
        <footer>
            <div class="signatures">
                <div class="authorization1">
                    <p><strong>Kartik Khare</strong></p>
                    <p>Managing Director (MD)</p>
                </div>
                <div class="QR-Code">
                    <img src="QR-Code.png" alt="QR-Code">
                </div>
                <div class="authorization">
                    <p><strong>Prabhat Paswan</strong></p>
                    <p>Chief Executive Officer (CEO)</p>
                    <!-- <p>Udyam Registration No.:<br><strong>UDYAM-UP-28-0200563</strong> <BR>(Company Seal)</p> -->
                </div>
            </div>
            <p class="bottom-line">
                <hr>
            </p>
            <div class="company-info">
                <div>
                    <p><i class="fas fa-envelope"></i> hr@mindmanthansoftwaresolutions.com</p>
                    <p><i class="fas fa-phone"></i> +91 9277267732 | +91 7011502461</p>
                </div>
                <div>
                    <p><i class="fas fa-envelope"></i> Info@mindmanthansoftwaresolutions.com</p>
                    <p><i class="fas fa-map-marker-alt"></i> A90,A Block,Sector 4 Noida,Uttar Pradesh 201301</p>
                </div>
            </div>
        </footer>

</body>

</html>