<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Warning Letter </title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
    <link rel="stylesheet" href="style.css">
</head>

<body>
    <div class="page">
        <header>
            <div class="header-section">
                <div class="logo">
                    <img src="MIND MANTHAN LOGO2.svg 2 .svg" alt="mind manthan logo">
                </div>
                <div>
                    <h1>Mindmanthan Software Solutions</h1>
                </div>
            </div>
            <h2 class="warning-name"><u>Warning Letter</u></h2>
        </header>
        <div class="info">
            <div>
                <p> <strong>To,</strong></p>
                <p> <strong>[Designation]</strong></p>
                <p> <strong>Subject: Warning Letter for Non-Compliance </strong></p>
            </div>
            <div>
                <p> <strong>Mr./Ms. [Employee Name]</strong></p>
                <p> <strong>Employee ID: [Employee ID]</strong></p>s
            </div>
        </div>
        <!-- Header CLOSE -->
        <section>
            <p>This letter is issued to formally bring to your attention certain concerns regarding your conduct and
                performance during the course of your employment with <strong>Mindmanthan Software Solutions.</strong>
            </p>
            <p>It has been observed and reported that you have failed to adhere to the company’s rules, regulations, and
                expected standards of professional conduct, specifically with reference to <strong> [mention issue
                    clearly – e.g., late reporting, poor performance, absenteeism, misconduct, policy violation,
                    etc.],</strong> despite prior verbal discussions and reminders.</p>
            <p>Such behavior is not in line with the policies, work ethics, and professional standards of
                <strong>Mindmanthan Software Solutions.</strong> As an employee, you are expected to perform your duties
                responsibly, maintain discipline, and comply with organizational guidelines at all times.
            </p>
            <p>This letter serves as a formal warning and you are hereby advised to take this matter seriously and
                ensure immediate improvement in your conduct and performance. Failure to show improvement or repetition
                of such behavior in the future may lead to further disciplinary action, including but not limited to
                suspension or termination of employment, as deemed appropriate by the management.</p>
            <p>You are requested to acknowledge receipt of this letter and treat this matter with utmost priority.</p>
            <p>We hope that you will take corrective action and demonstrate the expected level of professionalism going
                forward.</p>
        </section>
        <footer>
            <div class="signatures">
                <div class="authorization1">
                    <p>_____________________</p>
                    <p><strong>Employee signature</strong></p>
                    <p><strong>Date: </strong></p>
                </div>
                <div class="QR-Code">
                    <img src="QR-Code.png" alt="QR-Code">
                </div>
                <div class="authorization">
                    <!-- <p>For Mindmanthan Software Solution</p> -->
                    <p class="company-line">_____________________</p>
                    <p><strong>Managing Director (MD)</strong> </p>
                    <p>Udyam Registration No.:<br><strong>UDYAM-UP-28-0200563</strong><br> (Company Seal)</p>
                </div>
            </div>
            <p>
                <hr>
            </p>
            <div class="company-detail">
                <div>
                    <p><i class="fas fa-envelope"></i> hr@mindmanthansoftwaresolutions.com</p>
                    <p><i class="fas fa-phone"></i> +91 9277267732 | +91 7011502461</p>
                </div>
                <div>
                    <p><i class="fas fa-envelope"></i> Info@mindmanthansoftwaresolutions.com</p>
                    <p><i class="fas fa-map-marker-alt"></i> A90,A Block,Sector 4 Noida,Uttar Pradesh 201301</p>
                </div>
            </div>
        </footer>
    </div>
</body>

</html>