<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>EMPLOYEE ID ALLOTMENT LETTER</title>
    <link rel="stylesheet" href="style.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/7.0.1/css/all.min.css">
</head>

<body>
    <div class="main-container">
        <!-- header start here -->
        <header>
            <div class="header-section">
                <div class="logo">
                    <img src="MIND MANTHAN LOGO2.svg 2 .svg" alt="mind manthan logo">
                </div>
                <div>
                    <h1>Mindmanthan Software Solutions</h1>
                </div>
            </div>
            <h3 class="Promo"><u>EMPLOYEE ID ALLOTMENT LETTER</u></h3>
        </header>
        <!-- header close here -->
        <section>

            <div class="emp-info">
                <div>
                    <p>Date: _ / _ / __</p>
                    <p>To,</p>
                    <p>Mr./Ms. __________</p>
                </div>
                <div>
                    <p>Employee ID: __________</p>
                    <p>Designation: __________</p>
                    <p>Department: __________</p>
                </div>
            </div>
            <p><strong>Dear Mr./Ms. __________,</strong></p>
            <p>This is to inform you that you have been successfully onboarded with MindManthan Software Solutions.
                Accordingly, an Employee Identification Number (Employee ID) has been allotted to you as per company
                records.</p>
            <p><strong>Employee Details</strong></p>
            <div class="salary">
                <div>
                    <p>Employee Name: ___________</p>
                    <p>Employee ID: ___________</p>
                </div>
                <div>
                    <p>Designation: ___________</p>
                    <!-- <p>Department: ___________</p> -->
                    <p>Date of Joining: ___________</p>
                </div>
            </div>
            <p><strong>Your Employee ID will be used for all official purposes including:</strong></p>
            <ul>
                <li>Attendance & internal systems</li>
                <li>Salary & payroll processing</li>
                <li>Access to company tools, platforms, and resources</li>
                <li>Official communication and records</li>
            </ul>
            <p>You are requested to mention your Employee ID in all official communications and keep it confidential. Misuse or sharing of employee credentials may lead to disciplinary action as per company policy.</p>
            <p>We welcome you to <strong>MindManthan Software Solutions</strong>  and wish you a successful professional journey with us.</p>
        </section>
        <footer>
            <div class="signatures">
                <div class="authorization1">
                    <p><strong>Kartik Khare</strong></p>
                    <p>Managing Director (MD)</p>
                </div>
                <div class="QR-Code">
                    <img src="QR-Code.png" alt="QR-Code">
                </div>
                <div class="authorization">
                    <p><strong>Prabhat Paswan</strong></p>
                    <p>Chief Executive Officer (CEO)</p>
                    <!-- <p>Udyam Registration No.:<br><strong>UDYAM-UP-28-0200563</strong> <BR>(Company Seal)</p> -->
                </div>
            </div>
            <p class="bottom-line">
                <hr>
            </p>
            <div class="company-info">
                <div>
                    <p><i class="fas fa-envelope"></i> hr@mindmanthansoftwaresolutions.com</p>
                    <p><i class="fas fa-phone"></i> +91 9277267732 | +91 7011502461</p>
                </div>
                <div>
                    <p><i class="fas fa-envelope"></i> Info@mindmanthansoftwaresolutions.com</p>
                    <p><i class="fas fa-map-marker-alt"></i> A90,A Block,Sector 4 Noida,Uttar Pradesh 201301</p>
                </div>
            </div>
        </footer>

</body>

</html>