<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>IT & Data Security Acceptance Letter</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
    <link rel="stylesheet" href="style.css">
</head>

<body>
    <div class="main-container">
        <!-- header start here -->
        <header>
            <div class="header-section">
                <div class="logo">
                    <img src="MIND MANTHAN LOGO2.svg 2 .svg" alt="mind manthan logo">
                </div>
                <div>
                    <h1>Mindmanthan Software Solutions</h1>
                </div>
            </div>
            <h2><u>IT & Data Security Acceptance Letter</u></h2>
        </header>
        <!-- header close here -->
        <!-- section start here -->
        <section>
            <p> Date: _ / _ / __</p>

            <p><strong>Employee Name: ________</strong></p>
            <p><strong> Employee ID: ________</strong></p>
            <p><strong>Designation: ________</strong></p>
            <p> <strong>Mr./Ms. ________,</strong> hereby acknowledge and agree to abide by the IT & Data Security
                Policies of
                <strong>MindManthan Software Solutions</strong> during and after my employment with the organization.
            </p>
            <p> I clearly understand and accept the following terms:</p>

            <ul class="list-item">
                <li><strong> Confidential Information</strong>
                    All company-related information including but not limited to source code, software architecture,
                    internal tools, databases, credentials, documents, business strategies, client data, and internal
                    communications are strictly confidential.</li>
                <li><strong> System & Access Usage</strong>
                    I shall use company-provided systems, networks, software, credentials, and internal platforms only
                    for official purposes. Unauthorized access, sharing, or misuse is strictly prohibited.</li>
                <li> <strong>Data Protection</strong>
                    I will not copy, store, transfer, leak, or misuse any company or client data in any form (digital or
                    physical) without written authorization from management.</li>
                <li><strong> Credential Responsibility</strong>
                    Login IDs, passwords, tokens, and access rights provided to me are strictly personal. I shall not
                    share them with anyone under any circumstances.</li>
                <li><strong> External Devices & Software</strong>
                    Installation of unauthorized software, use of personal storage devices, or external cloud platforms
                    for company data without approval is prohibited.</li>
                <li> <strong> External Devices & Software</strong>
                    During remote or offsite work, I will ensure secure internet usage and comply with all company
                    security guidelines.</li>
                <li> <strong>Intellectual Property Rights</strong>
                    Any work, code, design, document, or innovation created during my employment shall remain the sole
                    intellectual property of MindManthan Software Solutions.</li>
                <li> <strong>Exit Obligations</strong>
                    Upon resignation or termination, I will immediately return all company assets and ensure that no
                    company data is retained by me in any form.</li>
            </ul>
        </section>
    </div>
    <div class="main-container">
        <ul class="list-item">
            <li> <strong>Violation & Disciplinary Action</strong>
                I understand that any violation of this policy may result in disciplinary action, termination of
                employment, legal proceedings, and/or financial liability as per company policy.</li>
            <li><strong> Post-Employment Obligation</strong>
                This confidentiality and data security obligation shall continue even after the end of my employment
                with the company.</li>
        </ul><br>
        <p>I confirm that I have read, understood, and voluntarily accept all the above IT & Data Security terms of
            MindManthan Software Solutions.</p>
        <footer>
            <div class="signatures">
                <div class="authorization1">
                    <p>_____________________</p>
                    <p><strong>Employee signature</strong></p>
                    <p><strong>Date: </strong></p>
                </div>
                <div class="authorization">
                    <div class="QR-Code">
                        <img src="QR-Code.png" alt="QR-Code"> 
                    </div>
                    <!-- <p>For Mindmanthan Software Solution</p> -->
                    <p class="company-line">_____________________</p>
                    <p><strong>Managing Director (MD)</strong> </p>
                    <p>Udyam Registration No.:<br><strong>UDYAM-UP-28-0200563</strong><br> (Company Seal)</p>
                </div>
            </div>
            <p>
                <hr>
            </p>
            <div class="company-info">
                <div>
                    <p><i class="fas fa-envelope"></i> hr@mindmanthansoftwaresolutions.com</p>
                    <p><i class="fas fa-phone"></i> +91 9277267732 | +91 7011502461</p>
                </div>
                <div>
                    <p><i class="fas fa-envelope"></i> Info@mindmanthansoftwaresolutions.com</p>
                    <p><i class="fas fa-map-marker-alt"></i> A90,A Block,Sector 4 Noida,Uttar Pradesh 201301</p>


                </div>
            </div>


        </footer>
    </div>
</body>

</html>