<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>INCREMENT / SALARY REVISION LETTER</title>
    <link rel="stylesheet" href="style.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/7.0.1/css/all.min.css">
</head>

<body>
    <div class="main-container">
        <!-- header start here -->
        <header>
            <div class="header-section">
                <div class="logo">
                    <img src="MIND MANTHAN LOGO2.svg 2 .svg" alt="mind manthan logo">
                </div>
                <div>
                    <h1>Mindmanthan Software Solutions</h1>
                </div>
            </div>
            <h3 class="Promo"><u>INCREMENT / SALARY REVISION LETTER</u></h3>
        </header>
        <!-- header close here -->
        <section>

            <div class="emp-info">
                <div>
                    <p>Date: _ / _ / __</p>
                    <p>To,</p>
                    <p>Mr./Ms. ________</p>
                </div>
                <div>
                    <p>Employee ID: ________</p>
                    <p>Designation: ________</p>
                    <p>Department: ________</p>
                </div>
            </div>
            <p><strong>Dear Mr./Ms. ________,</strong></p>
            <p>We are pleased to inform you that, based on your performance, contribution, dedication, and overall conduct, the management of MindManthan Software Solutions has decided to revise your salary.</p>
            <p>Your revised salary structure will be effective from<strong> _ / _ / __ </strong>as per the details mentioned below:</p>
            <p><strong>Revised Compensation Details</strong></p>
            <div class="salary">
                 <div>
                <p>Previous CTC: ₹ ________ per annum</p>
                <p>Revised CTC: ₹ ________ per annum</p>
            </div>
            <div>
                <p>Increment Amount: ₹ ________</p>
                <p>Effective From: _ / _ / __</p>
            </div>
            </div>
            <p>The revised salary structure will be applicable as per company payroll policies and will be reflected in your salary slips accordingly.</p>
            <p>his increment is a recognition of your efforts and commitment, and we expect your continued dedication and performance in achieving organizational goals.</p>
            <p>All other terms and conditions of your employment, as mentioned in your Appointment Letter and company policies, shall remain unchanged.</p>
            <p>We congratulate you and wish you continued success and growth with MindManthan Software Solutions.</p>
           

        </section>
        <footer>
            <div class="signatures">
                <div class="authorization1">
                    <p><strong>Kartik Khare</strong></p>
                    <p>Managing Director (MD)</p>
                </div>
                <div class="QR-Code">
                    <img src="QR-Code.png" alt="QR-Code">
                </div>
                <div class="authorization">
                    <p><strong>Prabhat Paswan</strong></p>
                    <p>Chief Executive Officer (CEO)</p>
                    <!-- <p>Udyam Registration No.:<br><strong>UDYAM-UP-28-0200563</strong> <BR>(Company Seal)</p> -->
                </div>
            </div>
            <p class="bottom-line">
                <hr>
            </p>
            <div class="company-info">
                <div>
                    <p><i class="fas fa-envelope"></i> hr@mindmanthansoftwaresolutions.com</p>
                    <p><i class="fas fa-phone"></i> +91 9277267732 | +91 7011502461</p>
                </div>
                <div>
                    <p><i class="fas fa-envelope"></i> Info@mindmanthansoftwaresolutions.com</p>
                    <p><i class="fas fa-map-marker-alt"></i> A90,A Block,Sector 4 Noida,Uttar Pradesh 201301</p>
                </div>
            </div>
        </footer>

</body>

</html>