<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>NOTICE PERIOD ACKNOWLEDGEMENT LETTER</title>
    <link rel="stylesheet" href="style.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/7.0.1/css/all.min.css">
</head>

<body>
    <div class="main-container">
        <!-- header start here -->
        <header>
            <div class="header-section">
                <div class="logo">
                    <img src="MIND MANTHAN LOGO2.svg 2 .svg" alt="mind manthan logo">
                </div>
                <div>
                    <h1>Mindmanthan Software Solutions</h1>
                </div>
            </div>
            <h3 class="Notice"><u>NOTICE PERIOD ACKNOWLEDGEMENT LETTER</u></h3>
        </header>
        <!-- header close here -->
        <section>
            <div class="info">
                <div>
                    <p>Date: _ / _ / __</p>
            <p>To,</p>
            <p>Mr./Ms. ________</p>

                </div>
                <div>
                    <p>Employee ID: ________</p>
            <p>Designation: ________</p>
            <p>Department: ________</p>

                </div>
            </div>
            
            
            <p>Subject: Acknowledgement of Notice Period</p>
            <p><strong> Dear Mr./Ms. ________,</strong></p>
            <p>This is to formally acknowledge the receipt of your resignation / separation request<strong> dated _ / _ / __.</strong>As per the terms and conditions of your employment with <strong> MindManthan Software Solutions,</strong> you are required to serve a notice period of<strong>45 (Forty-Five) days,</strong>  effective from<strong> _ / _ / __ to _ / _ / __.</strong></p>
            <p>During the notice period, you are expected to:</p>
            <ul>
                <li>Perform your duties with full responsibility and professionalism</li>
                <li>Complete proper knowledge transfer (KT)</li>
                <li>Hand over all assigned tasks, projects, and responsibilities</li>
                <li>Return all company assets, credentials, documents, and access</li>
                <li>Comply with all company policies, including IT, data security, and confidentiality norms</li>
            </ul>
            <p><strong>Please note that:</strong></p>
            <p>Final settlement, release of held salary (if any), and relieving documents shall be processed only after successful completion of the full notice period and clearance of all dues.</p>
            <p>Any shortfall or violation during the notice period may impact the final settlement, as per company policy.</p>
            <p>We request you to cooperate fully to ensure a smooth and professional transition.</p>
        </section>
        <footer>
            <div class="signatures">
                <div class="authorization1">
                    <p><strong>Kartik Khare</strong></p>
                    <p>Managing Director (MD)</p>
                </div>
                <div class="QR-Code">
                    <img src="QR-Code.png" alt="QR-Code">
                </div>
                <div class="authorization">
                    <p><strong>Prabhat Paswan</strong></p>
                    <p>Chief Executive Officer (CEO)</p>
                    <!-- <p>Udyam Registration No.:<br><strong>UDYAM-UP-28-0200563</strong> <BR>(Company Seal)</p> -->
                </div>
            </div>
            <p class="bottom-line">
                <hr>
            </p>
            <div class="company-info">
                <div>
                    <p><i class="fas fa-envelope"></i> hr@mindmanthansoftwaresolutions.com</p>
                    <p><i class="fas fa-phone"></i> +91 9277267732 | +91 7011502461</p>
                </div>
                <div>
                    <p><i class="fas fa-envelope"></i> Info@mindmanthansoftwaresolutions.com</p>
                    <p><i class="fas fa-map-marker-alt"></i> A90,A Block,Sector 4 Noida,Uttar Pradesh 201301</p>
                </div>
            </div>
        </footer>

</body>

</html>