body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    /* line-height: 1.3; */
    background-color: #f8f9fa;
    font-size: 16px;
    counter-reset: page;
}

@page {
    size: A4;
    margin: 15mm;
}

.main-container {
    width: 222mm;
    height: 299mm;
    margin: 30px auto;
    padding: 30px 50px;
    box-sizing: border-box;
    border-top: 4px solid #003366;
    border-bottom: 4px solid #003366;
    border-left: 4px solid #003366;
    border-right: 4px solid#003366;
    overflow: hidden;
}

.header-section {
    display: flex;
    justify-content: center;
    align-items: center;
}

.logo {
    height: 120px;
    width: 120px;
}
h1{
    color: #003366;
}
.Notice{
    text-align: center;
}
section p{
    text-align: justify;
}
.info{
    display: flex;
    justify-content: space-between;

}

.signatures{
    display: flex;
    justify-content: space-between;
}
.QR-Code img{
    height: 120px;
    width: 120px;
}
.company-info{
    display: flex;
    justify-content: space-between;
}

