<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Joining Letter</title>
     <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
    <link rel="stylesheet" href="style.css">
</head>
<body> <div class="page">

       <header>
            <div class="header-section">
                <div class="logo">
                    <img src="MIND MANTHAN LOGO2.svg 2 .svg" alt="mind manthan logo">
                </div>
                <div>
                    <h1>Mindmanthan Software Solutions</h1>
                </div>
            </div>
            <h2 class="head-name"><u>Joining Letter</u></h2>
            <h3 class="head-name"><u>To Whomsoever It May Concern,</u></h3>
        </header>
        <!-- header close here -->
         <section>
            <p>This is to formally confirm that <strong> Mr./Ms. [Employee Name]</strong>  has joined <strong>Mindmanthan Software Solutions</strong> as a <strong> [Designation]</strong> in the <strong> [Department/Project Name]</strong> on <strong>[Date of Joining].</strong> </p>
            <p>At the time of joining, Mr./Ms. [Employee Name] has successfully completed all joining formalities and submitted the required documents including identity proof, educational certificates, experience documents <strong>(if applicable), </strong> and other records as per the company’s onboarding process. </p>
            <p> As part of his/her employment, <strong> Mr./Ms. [Employee Name] </strong> will be responsible for carrying out the duties and responsibilities assigned by the management from time to time and will report to [Reporting Manager Name / Designation]. He/She is expected to perform his/her role with professionalism, integrity, dedication, and in the best interest of the organization.</p>
            <p>During the course of employment, <strong> Mr./Ms. [Employee Name]</strong> will be governed by the rules, regulations, policies, and procedures of Mindmanthan Software Solutions, including but not limited to working hours, leave policy, code of conduct, confidentiality, information security, and disciplinary policies, as applicable and amended from time to time.</p>
            <p>The employee is required to maintain strict confidentiality with respect to company data, client information, intellectual property, internal processes, and any sensitive information obtained during the tenure of employment. Any breach of confidentiality or misconduct may invite disciplinary action as per company policy.</p>
            <p>We extend a warm welcome to <strong> Mr./Ms. [Employee Name]</strong> and look forward to a mutually beneficial and successful professional association. We wish him/her great success and growth with <strong>Mindmanthan Software Solutions.</strong></p>
         </section>
          <footer>
            <div class="signatures">
                <div class="authorization1">
                    <p><strong>Kartik Khare</strong></p>
                    <p>Managing Director (MD)</p>
                </div>
                <div class="QR-Code">
                    <img src="QR-Code.png" alt="QR-Code">
                </div>
                <div class="authorization">
                    <p><strong>Prabhat Paswan</strong></p>
                    <p>Chief Executive Officer (CEO)</p>
                    <!-- <p>Udyam Registration No.:<br><strong>UDYAM-UP-28-0200563</strong> <BR>(Company Seal)</p> -->
                </div>
            </div>
            <p class="bottom-line">
                <hr>
            </p>
            <div class="company-info">
                <div>
                    <p><i class="fas fa-envelope"></i> hr@mindmanthansoftwaresolutions.com</p>
                    <p><i class="fas fa-phone"></i> +91 9277267732 | +91 7011502461</p>
                </div>
                <div>
                    <p><i class="fas fa-envelope"></i> Info@mindmanthansoftwaresolutions.com</p>
                    <p><i class="fas fa-map-marker-alt"></i> A90,A Block,Sector 4 Noida,Uttar Pradesh 201301</p>
                </div>
            </div>
        </footer>
         </div>
</body>
</html>