<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Payslip - MindManthan Software Solutions</title>
    <link rel="stylesheet" href="style.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/7.0.1/css/all.min.css">
</head>

<body>

    <div class="payslip">

        <!-- HEADER -->
        <div class="header">
            <div class="logo">
                <img src="MIND MANTHAN LOGO2.svg 2 .svg" alt=" company logo">
            </div>
            <div class="company-name">MindManthan Software Solutions</div>
        </div>

        <!-- TITLE -->
        <div class="title">
            Payslip for the Month of ____________
        </div>

        <!-- EMPLOYEE SUMMARY -->
        <div class="section1">
            <div class="info">
                <p><b>Employee Name</b> : ____________</p>
                <p><b>Designation</b> : ____________</p>
                <p><b>Department</b> : ____________</p>
                <p><b>Paid Days</b> : ____________</p>


            </div>
            <div>
                <p><b>Employee ID</b> : ____________</p>
                <p><b>Date of Joining</b> : ____________</p>
                <p><b>UAN / PF No.</b> : ____________</p>
                <p><b>LOP</b> : ____________</p>

            </div>
            <div class="QR-Code">
                <img src="QR-Code.png" alt="QR-Code">
            </div>
        </div>

        <!-- EARNINGS & DEDUCTIONS -->
        <div class="section">
            <table class="data-table">
                <tr>
                    <th>EARNINGS</th>
                    <th class="right">AMOUNT (₹)</th>
                    <th class="right">YTD (₹)</th>
                    <th>DEDUCTIONS</th>
                    <th class="right">AMOUNT (₹)</th>
                    <th class="right">YTD (₹)</th>
                </tr>

                <tr>
                    <td>Basic Salary</td>
                    <td class="right">— — —</td>
                    <td class="right">— — —</td>
                    <td>PF Contribution</td>
                    <td class="right">— — —</td>
                    <td class="right">— — —</td>
                </tr>

                <tr>
                    <td>House Rent Allowance</td>
                    <td class="right">— — —</td>
                    <td class="right">— — —</td>
                    <td>Income Tax</td>
                    <td class="right">— — —</td>
                    <td class="right">— — —</td>
                </tr>

                <tr>
                    <td>Conveyance Allowance</td>
                    <td class="right">— — —</td>
                    <td class="right">— — —</td>
                    <td></td>
                    <td class="right"></td>
                    <td class="right"></td>
                </tr>

                <tr>
                    <td>Other Allowance</td>
                    <td class="right">— — —</td>
                    <td class="right">— — —</td>
                    <td></td>
                    <td class="right"></td>
                    <td class="right"></td>
                </tr>

                <tr class="total-row">
                    <td>Gross Earnings</td>
                    <td class="right">— — —</td>
                    <td class="right"></td>
                    <td>Total Deductions</td>
                    <td class="right">— — —</td>
                    <td class="right"></td>
                </tr>
            </table>
        </div>

        <!-- REIMBURSEMENTS -->
        <div class="section">
            <table class="data-table">
                <tr>
                    <th>REIMBURSEMENTS</th>
                    <th class="right">AMOUNT (₹)</th>
                    <th class="right">YTD (₹)</th>
                </tr>

                <tr>
                    <td>Fuel Reimbursement</td>
                    <td class="right">— — —</td>
                    <td class="right">— — —</td>
                </tr>

                <tr>
                    <td>Other Reimbursement</td>
                    <td class="right">— — —</td>
                    <td class="right">— — —</td>
                </tr>

                <tr class="total-row">
                    <td>Total Reimbursement</td>
                    <td class="right">— — —</td>
                    <td class="right"></td>
                </tr>
            </table>
        </div>

        <!-- NET PAY -->
        <div class="net-pay">
            Total Net Payable ₹ — — — <br>
            <small>(Amount in words: __________________________________________)</small>
        </div>
        <footer>
            <p class="bottom-line">
                <hr>
            </p>
            <div class="company-info">
                <div>
                    <p><i class="fas fa-envelope"></i> hr@mindmanthansoftwaresolutions.com</p>
                    <p><i class="fas fa-phone"></i> +91 9277267732 | +91 7011502461</p>
                </div>
                <div>
                    <p><i class="fas fa-envelope"></i> Info@mindmanthansoftwaresolutions.com</p>
                    <p><i class="fas fa-map-marker-alt"></i> A90,A Block,Sector 4 Noida,Uttar Pradesh 201301</p>
                </div>
            </div>

        </footer>

        <div class="footer">
            This is a system generated payslip.
        </div>

    </div>

</body>

</html>