 body {
            font-family: Arial, Helvetica, sans-serif;
            background: #f5f5f5;
            padding: 20px;
        }

        .payslip {
            width: 210mm;
            /* max-width: 920px; */
            height: 250mm;
            margin: auto;
            background: #ffffff;
            border: 1px solid #ccc;
        }

        .header {
            display: flex;
            justify-content: center;
            align-items: center;
            flex-wrap: wrap;
            padding: 10px 20px;
            border-bottom: 2px solid #e0e0e0;
        }

        .company-name {
            color: #003366;
            font-size: 20px;
            font-weight: bold;
        }
        .logo img{
            height: 100px;
            width: 100px;
        }

        .title {
            text-align: center;
            font-weight: bold;
            padding: 12px;
            border-bottom: 1px solid #ccc;
        }
        .section1 {
          padding-inline: 10px;
            display: flex;
            justify-content: space-between;
            align-items: center;
        }
        
        .QR-Code img{
            height: 100px;
            width: 100px;

        }

        .summary-table,
        .data-table {
            width: 100%;
            border-collapse: collapse;
            font-size: 14px;
        }

        .summary-table td {
            padding: 6px;
            vertical-align: top;
        }

        .data-table th,
        .data-table td {
            border: 1px solid #ccc;
            padding: 6px;
        }

        .data-table th {
            background: #f0f0f0;
            text-align: left;
        }

        .right {
            text-align: right;
        }

        .total-row {
            font-weight: bold;
            background: #fafafa;
        }

        .net-pay {
            margin: 20px;
            padding: 14px;
            border: 2px solid #000;
            text-align: center;
            font-size: 16px;
            font-weight: bold;
        }

        .footer {
            text-align: center;
            font-size: 12px;
            color: #666;
            padding-top: 40px;
        }
        .company-info{
            display: flex;
            justify-content:space-around;
        }