<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Experience Letter</title>
      <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
    <link rel="stylesheet" href="style.css">
</head>

<body>
    <div class="container">
        <header class="header">
            <div class="logo">
                <img src="MIND MANTHAN LOGO2.svg 2 .svg" alt="Mindmanthan logo">
            </div>
            <div>
                <h1>Mindmanthan Software Solutions</h1>
            </div>
        </header>
        <h2>Experience Letter</h2>

        <section>
            <h3><u>To Whomsoever It May Concern</u></h3>
            <p>This is to certify that <strong>Mr./Ms. _______, Employee ID ___, </strong> was employed with <strong>
                    MindManthan Software Solutions </strong> as _______ from ____ (Joining Date) to _____ (Last Working
                Day).</p>
            <p>During his/her tenure with our organization, the employee was responsible for assigned duties and
                responsibilities and demonstrated professional conduct, dedication, and commitment towards work. He/She
                contributed positively to the team and carried out responsibilities as per company standards.
                His/Her conduct and performance during the employment period were found to be satisfactory / good /
                excellent.</p>
            <p>We wish him/her success in future career endeavors.</p>
            <footer>
                <div class="signatures">
                    <div class="authorization1">
                        <p>_____________________</p>
                        <p><strong>Employee signature</strong></p>
                        <p><strong>Date: </strong></p>
                    </div>
                    
                    <div class="authorization">
                        <div class="QR-Code">
                        <img src="QR-Code.png" alt="QR-Code">
                    </div>
                        <!-- <p>For Mindmanthan Software Solution</p> -->
                        <p class="company-line">_____________________</p>
                        <p><strong>Managing Director (MD)</strong> </p>
                        <p>Udyam Registration No.:<br><strong>UDYAM-UP-28-0200563</strong> <BR>(Company Seal)</p>
                    </div>
                </div>
                <p>
                    <hr>
                </p>
                <div class="company-info">
                    <div>
                        <p><i class="fas fa-envelope"></i> hr@mindmanthansoftwaresolutions.com</p>
                        <p><i class="fas fa-phone"></i> +91 9277267732 | +91 7011502461</p>
                    </div>
                    <div>
                        <p><i class="fas fa-envelope"></i> Info@mindmanthansoftwaresolutions.com</p>
                        <p><i class="fas fa-map-marker-alt"></i> A90,A Block,Sector 4 Noida,Uttar Pradesh 201301</p>
                    </div>
                </div>
            </footer>
        </section>
    </div>

</body>

</html>