body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    line-height: 1.4;
    background-color: #f8f9fa;
    font-size: 16px;
    counter-reset: page;
}

@page {
    size: A4;
    margin: 15mm;
}

.container {
    width: 210mm;
    height: 297mm;
    margin: 30px auto;
    padding: 70px 50px;
    box-sizing: border-box;
    border-top: 4px solid #003366;
    border-bottom: 4px solid #003366;
    border-left: 4px solid #003366;
    border-right: 4px solid#003366;
    overflow: hidden;
}
.header{
    display: flex;
    justify-content: center;
    align-items: center;
}

.logo img{
    height: 120px;
    width: 120px;
}
h1{
    color: #003366;
}
h2{
    text-align: center;
     color: #003366;
}
h3{
    text-align: center;
    margin-bottom: 30px;
}
section p{
    text-align: justify;
}
.signatures {
   margin-bottom: 60px;
    display: flex;
    justify-content: space-between;
}

.authorization1 {
    padding-top: 180px;
}

.company-line {
    margin-top: 32px;
}

.company-info{
    display: flex;
    justify-content: space-between;
}
.QR-Code img{
    height: 150PX;
    width: 150PX;
}
