<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Promotion Letter</title>
    <link rel="stylesheet" href="style.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/7.0.1/css/all.min.css">
</head>

<body>
    <div class="main-container">
        <!-- header start here -->
        <header>
            <div class="header-section">
                <div class="logo">
                    <img src="MIND MANTHAN LOGO2.svg 2 .svg" alt="mind manthan logo">
                </div>
                <div>
                    <h1>Mindmanthan Software Solutions</h1>
                </div>
            </div>
            <h3 class="Promotion"><u>PROMOTION LETTER</u></h3>
        </header>
        <!-- header close here -->
        <section>
            <div class="emp-info">
                <div>
                    <p>Date: _ / _ / __</p>
                    <p> To,</p>
                    <p> Mr./Ms. ________</p>
                </div>
                <div>
                    <p>Employee ID: ________</p>
                    <p>Current Designation: ________</p>
                    <p>Department: ________</p>
                </div>
            </div>
            <p><strong> Dear Mr./Ms. ________,</strong> </p>
            <p>We are pleased to inform you that, in recognition of your consistent performance, dedication, and
                valuable contribution, the management of <strong> MindManthan Software Solutions</strong> has decided to
                promote you.</p>
            <p>With effect from<strong> _ / _ / __, </strong>you are hereby promoted to the position of:</p>
            <strong><p>Promoted Designation</p></strong>
            <div class="Designation">
                <div class="box">
                   <div><p>New Designation: ____________</p></div>
                </div>
                <div class="box">
                    <p>Department: _____________</p>

                </div>
                <div class="box">
                     <p>Reporting To: __________</p>
                </div>
            </div>
            <p>Your revised roles and responsibilities will be communicated separately and you are expected to perform
                your duties with increased responsibility, leadership, and professionalism.</p>
            <p>If applicable, your revised compensation and benefits will be communicated through a separate Salary
                Revision Letter.</p>
            <p>All other terms and conditions of your employment, as mentioned in your Appointment Letter and company
                policies, shall remain unchanged.</p>
            <p>We<strong>congratulate </strong> you on your promotion and look forward to your continued contribution to
                the growth and success of<strong> MindManthan Software Solutions.</strong></p>
        </section>
         <footer>
                <div class="signatures">
                    <div class="authorization1">
                        <p><strong>Kartik Khare</strong></p>
                        <p>Managing Director (MD)</p>
                    </div>
                     <div class="QR-Code">
                        <img src="QR-Code.png" alt="QR-Code">
                    </div>
                    <div class="authorization">
                        <p><strong>Prabhat Paswan</strong></p>
                        <p>Chief Executive Officer (CEO)</p>
                        <!-- <p>Udyam Registration No.:<br><strong>UDYAM-UP-28-0200563</strong> <BR>(Company Seal)</p> -->
                    </div>
                </div>
                <p class="bottom-line">
                    <hr>
                </p>
                <div class="company-info">
                    <div>
                        <p><i class="fas fa-envelope"></i> hr@mindmanthansoftwaresolutions.com</p>
                        <p><i class="fas fa-phone"></i> +91 9277267732 | +91 7011502461</p>
                    </div>
                    <div>
                        <p><i class="fas fa-envelope"></i> Info@mindmanthansoftwaresolutions.com</p>
                        <p><i class="fas fa-map-marker-alt"></i> A90,A Block,Sector 4 Noida,Uttar Pradesh 201301</p>
                    </div>
                </div>
            </footer>

</body>

</html>