<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Relieving Letter</title>
     <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/7.0.1/css/all.min.css">
    <link rel="stylesheet" href="style.css">
</head>
<body>
     <div class="page">
        <!-- header start here -->
        <header>
            <div class="header-section">
                <div class="logo">
                    <img src="MIND MANTHAN LOGO2.svg 2 .svg" alt="mind manthan logo">
                </div>
                <div>
                    <h1>Mindmanthan Software Solutions</h1>
                </div>
            </div>
            <h2 class="head-name"><u>Relieving Letter</u></h2>
            <h3 class="head-name"><u>To Whomsoever It May Concern,</u></h3>
        </header>
        <!-- header close here -->
         <section>
            <p>This is to certify that <strong> Mr./Ms. [Employee Name] </strong>was employed with <strong> Mindmanthan Software Solutions</strong> as a <strong>[Designation]</strong> from <strong>[Date of Joining]</strong> to <strong>[Last Working Day].</strong> </p>
            <p>During his/her tenure with the organization, he/she discharged the assigned duties and responsibilities sincerely and to the satisfaction of the management.</p>
            <p>We confirm that <strong>Mr./Ms. [Employee Name] </strong> has been relieved from his/her duties effective <strong> [Last Working Day]</strong> after completion of all formalities. We wish him/her all the best for future endeavors.</p>
         </section>
          <footer>
            <div class="signatures">
                <div class="authorization1">
                    <p>_____________________</p>
                    <p><strong>Employee signature</strong></p>
                    <p><strong>Date: </strong></p>
                </div>
                <div class="authorization">
                    <div class="QR-Code">
                        <img src="QR-Code.png" alt="QR-Code"> 
                    </div>
                    <!-- <p>For Mindmanthan Software Solution</p> -->
                    <p class="company-line">_____________________</p>
                    <p><strong>Managing Director (MD)</strong> </p>
                    <p>Udyam Registration No.:<br><strong>UDYAM-UP-28-0200563</strong><br> (Company Seal)</p>
                </div>
            </div>
            <p>
                <hr>
            </p>
            <div class="company-info">
                <div>
                    <p><i class="fas fa-envelope"></i> hr@mindmanthansoftwaresolutions.com</p>
                    <p><i class="fas fa-phone"></i> +91 9277267732 | +91 7011502461</p>
                </div>
                <div>
                    <p><i class="fas fa-envelope"></i> Info@mindmanthansoftwaresolutions.com</p>
                    <p><i class="fas fa-map-marker-alt"></i> A90,A Block,Sector 4 Noida,Uttar Pradesh 201301</p>
                </div>
            </div>
        </footer>
     </div>
    
</body>
</html>