<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>NON-DISCLOSURE AGREEMENT</title>
     <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/7.0.1/css/all.min.css">
    <link rel="stylesheet" href="style.css">
</head>

<body>
    <div class="page">
        <header>
            <div class="header-section">
                <div class="logo">
                    <img src="MIND MANTHAN LOGO2.svg 2 .svg" alt="mind manthan logo">
                </div>
                <div>
                    <h1>Mindmanthan Software Solutions</h1>
                </div>
            </div>
            <h3 class="appoint"><u>NON-DISCLOSURE AGREEMENT</u></h3>
        </header>
        <!-- header close here -->
        <!-- section start here -->
        <section>
            <p> <strong>Non-Disclosure Agreement</strong>  (“Agreement”) is entered into on<strong> _ / _ / __</strong> by and
                between: </p>
            <p><strong>MindManthan Software Solutions,</strong> having its registered office at ____________,
                hereinafter
                referred to as the “Company”,</p>
            <strong>AND</strong>
            <p><strong>Mr./Ms. ____________,</strong> residing at<b> ____________,</b> hereinafter referred to as the
                “Employee/Recipient”.</p>
            <p>The Company and the Employee shall collectively be referred to as the “Parties”.</p>
            <ul>
                <li><strong>PURPOSE OF AGREEMENT</strong>

                    The Employee acknowledges that during the course of employment, association, or engagement with the
                    Company, he/she will have access to confidential, proprietary, technical, commercial, and sensitive
                    information.
                    This Agreement is executed to protect such information from unauthorized disclosure, misuse, or
                    exploitation.
                </li>
                <li><strong>DEFINITION OF CONFIDENTIAL INFORMATION</strong>

                    “Confidential Information” includes but is not limited to:

                    Source code, software logic, algorithms, APIs

                    Internal systems, tools, dashboards, workflows

                    Client data, project details, credentials

                    Databases, architecture diagrams, documentation

                    Business plans, pricing models, proposals

                    Trade secrets, processes, know-how

                    Employee data, HR records

                    Any information marked or understood as confidential

                    Any data accessed verbally, digitally, or physically


                    Confidential Information includes information whether disclosed before or after signing this
                    Agreement.</li>
                <li><strong>OBLIGATIONS OF THE EMPLOYEE</strong>

                    The Employee agrees that he/she shall:

                    a Keep all Confidential Information strictly confidential
                    b Use Confidential Information only for official company work
                    c Not disclose information to any third party without written permission
                    d Not copy, reproduce, sell, publish, or misuse any data
                    e Not use confidential knowledge for personal or competitive benefit</li>
                <li><strong>ACCESS CONTROL & SECURITY</strong>

                    The Employee agrees to:

                    Protect all login credentials and access rights

                    Not bypass or attempt to breach company security systems

                    Follow all IT, data security, and internal access policies

                    Immediately report any data breach or unauthorized access
                </li>
                <li><strong>INTELLECTUAL PROPERTY RIGHTS</strong>

                    All work products including but not limited to:

                    Code, scripts, designs

                    Software modules, documentation

                    Databases, inventions, ideas


                    created during employment shall be the sole intellectual property of MindManthan Software Solutions,
                    regardless of the device or location used.

                    The Employee waives all ownership claims.
                </li>
            </ul>
        </section>
    </div>
    <div class="page">
        <section class="page2">
            <ul>
                <li><strong>RESTRICTION ON COPYING & STORAGE</strong>

                    The Employee shall not:

                    Store company data on personal devices

                    Upload data to unauthorized cloud services

                    Transfer data via email, USB, or external tools


                    unless explicitly authorized in writing.</li>
                <li><strong>NON-DISCLOSURE DURING & AFTER EMPLOYMENT</strong>

                    This NDA shall remain effective:

                    During the period of employment

                    After resignation, termination, or completion of engagement, without time limitation</li>
                <li><strong>RETURN OF COMPANY PROPERTY</strong>

                    Upon exit or termination, the Employee shall:

                    Return all company assets

                    Permanently delete all company data

                    Confirm no data retention in any form
                </li>
                <li><strong>BREACH & CONSEQUENCES</strong>
                    Any breach of this Agreement shall result in:
                    Immediate disciplinary action
                    Termination of employment

                    Legal action (civil & criminal)

                    Claim for damages, losses, and injunction


                    The Company reserves the right to pursue remedies under applicable Indian laws including IT Act,
                    2000.</li>
                <li><strong>NO LICENSE OR OWNERSHIP</strong>

                    Nothing in this Agreement grants the Employee any license, ownership, or rights over Company data or
                    intellectual property.</li>
                <li><strong>SEVERABILITY</strong>

                    If any provision of this Agreement is held invalid, the remaining provisions shall continue in full
                    force.</li>
                <li><strong>GOVERNING LAW & JURISDICTION</strong>

                    This Agreement shall be governed by and construed in accordance with the laws of India, and courts
                    of ____ (City/State) shall have exclusive jurisdiction.</li>
                <li><strong>ENTIRE AGREEMENT</strong>

                    This Agreement constitutes the complete understanding between the Parties and supersedes all prior
                    agreements or understandings related to confidentiality.</li>
                <li><strong>ACCEPTANCE</strong>

                    By signing below, the Employee confirms that he/she has read, understood, and agrees to abide by
                    this NDA voluntarily. </li>
            </ul>
        </section>

        <footer class="footer">
            <div class="signatures">
                <div class="authorization1">
                    <p><strong>Kartik Khare</strong></p>
                    <p>Managing Director (MD)</p>
                </div>
                <div class="QR-Code">
                    <img src="QR-Code.png" alt="QR-Code">
                </div>
                <div class="authorization">
                    <p><strong>Prabhat Paswan</strong></p>
                    <p>Chief Executive Officer (CEO)</p>
                    <!-- <p>Udyam Registration No.:<br><strong>UDYAM-UP-28-0200563</strong> <BR>(Company Seal)</p> -->
                </div>
            </div>
            <p class="bottom-line">
                <hr>
            </p>
            <div class="company-info">
                <div>
                    <p><i class="fas fa-envelope"></i> hr@mindmanthansoftwaresolutions.com</p>
                    <p><i class="fas fa-phone"></i> +91 9277267732 | +91 7011502461</p>
                </div>
                <div>
                    <p><i class="fas fa-envelope"></i> Info@mindmanthansoftwaresolutions.com</p>
                    <p><i class="fas fa-map-marker-alt"></i> A90,A Block,Sector 4 Noida,Uttar Pradesh 201301</p>
                </div>
            </div>
        </footer>
    </div>
</body>

</html>